[Unit]
Description=AMD P-State, frequency and voltage modification
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tpc -cfgfile /etc/tpc.conf

[Install]
WantedBy=multi-user.target
